<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="product.css">
    <link rel="stylesheet" href="footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>

<body>
    <div class="message_header">
        <h4 class="message_header-text">miễn phí vận chuyển cho đơn hàng trên 250k</h4>
    </div>
    <header>
        <div class="container">
            <div class="container_header">
                <div class="logo">
                    <img src="img/img_default/logo-no-background.png" alt="" class="logo_img">
                </div>
                <div class="nav_header">
                    <ul class="nav_header-list">
                        <li class="nav_header-item">
                            trang chủ
                        </li>
                        <li class="nav_header-item">
                            sản phẩm
                        </li>
                        <li class="nav_header-item text-sale">
                            sale
                        </li>
                        <li class="nav_header-item">
                            hàng mới về
                        </li>
                        <li class="nav_header-item">
                            chính sách
                        </li>
                        <li class="nav_header-item">
                            cửa hàng
                        </li>
                        <li class="nav_header-item">
                            về chúng tôi
                        </li>
                    </ul>
                </div>

                <div class="option_user">
                    <div class="option_user-search">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <div class="option_user-account">
                        <i class="fa-solid fa-user"></i>
                    </div>
                    <div class="option_user-notification">
                        <i class="fa-solid fa-bell"></i>
                    </div>
                    <div class="option_user-heart">
                        <i class="fa-solid fa-heart"></i>
                    </div>
                    <div class="option_user-cart">
                        <i class="fa-solid fa-bag-shopping"></i>
                    </div>
                </div>
            </div>
        </div>
    </header>

    

    <footer>
        <div class="footer_content">
            © Bản quyền thuộc về LANGTHANG
        </div>
    </footer>

    <script>
        
    </script>
</body>

</html>